h1{
    color: green;
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

h2{
    color: orange;
    font-family: Helvetica, sans-serif;
    text-align: right;
}

h3{
    font-family: Comic sans,Comic sans MS, cursive;
}

p{
    color:black;
    font-family: none;
    text-decoration: none;
}

table{
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color: azure;
}

th{
    font-weight: 800;
    background-color: azure;
    color: white;
}

tr.alt td{
    background-color: violet;
}

ul{
    list-style-image: url('images/pointer-icon.png');
}

ol{
    list-style: upper-roman;
}

#menu-bar a{
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    background-color: aquamarine ;
    padding: 5px;
}

#menu-bar a:hover{
    background-color: aqua;
    color: white;
}